.body {
    font-family: "Lucida Console", "Courier New", monospace !important;
}

.header {
    padding: 2rem 0;
    text-align: center;
    background-color: #B04D4D;
    color: #FFFEFE;
    width: 100%;
    min-height: 100%;
}

.modalButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38%;
    gap: 5em;
    margin: 0 auto;
}

.btn-modals {
    background-color: white !important;
    color: black !important;
    border-radius: 0 !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    width: 100%;
}

.btn-modals:hover {
    background-color: rgb(194, 194, 194) !important;
}

.container-fluid {
    margin: auto !important;
    width: 90% !important;
}

.landingRow {
    margin-top: 30px !important;
    gap: 3em;
}

.box1 {
	background-color: white;
	border-radius: 25px;
    width: auto;
    margin:auto; 
    height: auto;
    overflow:auto;
    text-align: left;
    padding: 10px;
}
.box2 {
    background-color: #ED9A9A;
    background-size:cover;
    border-radius: 25px;
    margin: -10px;
    width: auto;
    min-height: 153px;
    max-height: 200px;
    overflow:auto;
    padding: 0px;
}
.box2img{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.box3 {
    padding: 10px;
    min-height: 40px;
}
.medColumn {
    background-color: #C4C4C4;
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.lgColumn {
    display: flex;
    justify-content: top;
    flex-direction: column;
}

.side {
    font-size: 30px;
}

.btn-navigation {
    background-color: #C4C4C4 !important;
    color: black !important;
    border-radius: 0 !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    width: 100%;
    margin-bottom: 15px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.btn-navigation:hover {
    background-color: #ca8a8a !important;
}

hr {
    border-top: 10px solid #B04D4D !important;
    border-radius: 10px;
    opacity: 100 !important;
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.buttonHotbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
}

.listingDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.itemList {
    margin: auto !important;
    width: 100% !important;
}

.error {
    text-align: center;
    margin-top: 5rem;
}

.listEntry {
    display: grid;
}

.contentDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.contentDiv img {
    max-width: 100%;
    max-height: 100%;
}

.contentDetails {
    background-color: #C4C4C4;
    padding: 1.2rem;
    margin-top: 2rem;
    text-align: center;
}

.btn-header {
    background-color: transparent !important;
    text-decoration: none !important;
    border: none !important;
    color: #FFFEFE !important;
}

.btn-header:hover {
    cursor: pointer;
}

.reviewRating {
    background-color: #E18888;
    text-align: center;
    padding-top: 1.2rem;
}

.reviewRating h1 {
    font-size: 60px;
}

.reviewHeader {
    background-color: #777777;
    color: white;
    padding: 0.5rem;
}

.reviewContent {
    background-color: #D6D6D6;
    color: black;
    padding: 0.5rem;
}

.reviewContent p {
    font-size: 20px;
    font-weight: 600;
}

.btn-comment {
    background-color: #E18888 !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
}

.btn-comment:hover{
    background-color: #eb6666 !important;
}

button {
    box-shadow: none !important;
}

.commentHeader {
    background-color: #777777;
    color: white;
    padding: 0.5rem;
}

.commentHeader h1 {
    font-size: 20px;
    font-weight: 600;
}

.commentContent {
    background-color: #D6D6D6;
    color: black;
    padding: 0.5rem;
}

.commentContent p {
    font-weight: 600;
}

.noComment {
    text-align: center;
    padding-top: 1rem;
    text-transform: uppercase;
    font-size: 30px;
}